body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre o campo de input e o botão */
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}
.selected {
    background-color: #e0e0e0;
    border: 1px solid #000;
}